
<div class="flex justify-center h-screen items-center overflow-hidden">

    <div class="container">

<div class="cover" [ngClass]="{'rotate-active':isRegister}">

    <div class="front">
       <img src="https://img.freepik.com/free-photo/woman-chef-cooking-vegetables-pan_1303-22287.jpg" alt="missing">
        <div class="text">
        <span class="text-1">
            Share, Savor, and Create: Your Recipe Haven Awaits!
        </span>
        <span>
            Let's get Connected
        </span>
        </div>
    </div>

    <div class="back">
        <img src="https://img.freepik.com/premium-photo/happy-lady-watching-video-recipe-laptop-while-cooking-healthy-lunch-kitchen-using-computer_116547-20583.jpg" alt="">
    </div>

</div>

<div class="form h-full">
    <div class="form-content h-full">
        <div class="login-form">
            <h1 class="text-lg font-bold text-center pb-8">Signup</h1>
            <form (ngSubmit)="handelRegister()"
            [formGroup]="registerationForm"
                    class="">
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Full Name</mat-label>
            <input matInput placeholder="fullName" value="" name="fullName"
            formControlName="fullName"
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
          </mat-form-field>
    </div>

    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Email Id</mat-label>
            <input matInput placeholder="email" value="" name="email"
            formControlName="email" 
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
          </mat-form-field>
    </div>

    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Password</mat-label>
            <input matInput placeholder="password" value="" name="password"
            formControlName="password" 
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
          </mat-form-field>
    </div>

    <div>
        <button class="w-full" 
        mat-raised-button color="primary" type="submit">
            Reegister
        </button>
    </div>
            </form>

            <div class="flex items-center gap-2 justify-center mt-9">
                Have account ? <button (click)="togglePanel()"
                mat-button color="primary" >Login</button>
            </div>

        </div>

        <div class="signup-form">
            <h1 class="text-lg font-bold text-center pb-8">Login</h1>
            <form (ngSubmit)="handelLogin()"
            [formGroup]="loginForm"
                    class="">
    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Email Id</mat-label>
            <input matInput placeholder="email" value="" name="email"
            formControlName="email" 
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
          </mat-form-field>
    </div>

    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label class="text-gray-200">Password</mat-label>
            <input matInput placeholder="password" value="" name="password"
            formControlName="password" 
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline" />
          </mat-form-field>
    </div>

    <div>
        <button class="w-full" 
        mat-raised-button color="primary" type="submit">
            Login
        </button>
    </div>
            </form>

            <div class="flex items-center gap-2 justify-center mt-9">
                Don't have account ? <button (click)="togglePanel()"
                mat-button color="primary" >Signup</button>
            </div>

        </div>
    </div>
</div>

    </div>
</div>